.one
{
	width: 1250px;
	height: 2000px;
	background-color: lightblue;
	background-image: one.Jpg;
}

.two
{
	width: 1250px;
	height: 400px;
	background-color: red;

}
.three
{
	width: 1250px;
	height: 200px;
	background-color: lavender;
}
.four
{
	width: 1250px;
	height: 400px;
	background-color: whitesmoke;
}
.five
{
	width: 1250px;
	height: 200px;
	background-color: lavender;
}
.six
{
	width: 1250px;
	height: 200px;
	background-color: whitesmoke;
}
.seven
{
	width: 1250px;
	height: 200px;
	background-color: lavender;

}